body {
  background: white; 
  font-family: lato;
}
page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
 padding: 0px;
 margin-top: 50px;
 border-style: solid;
    border-width: 5px;
    border-top-width: 10px;
    border-bottom-width: 10px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-color: #CDCDCF;

  
}
page[size="A4"] {  
  width: 21cm;
  height: 29.7cm; 
}


#header{
 
 display: grid;
 grid-template-columns: 1.5fr 6fr;
 height: 150px;
 
}
#image{
height: 150px;
width:150px;
background-clip: padding-box;
border-radius: 20px 0px 0px 0px;
}
#htop{
	height: 150px;
	background-clip: padding-box;
	border-radius: 0px 20px 0px 0px;
	padding-left: 30px;
	background: rgb(255, 226, 51);
 color: black;
 font-weight: bold;
}


#exp{
 
color: white;
 padding-left: 50px;
 padding-top: 3px;
 padding-bottom: 5px;
}
#exp span{
	background: black;
	padding: 3px;
	padding-right: 8px;
	padding-left: 8px;
}
#text1{
	padding-left: 67px;
	padding-top: 15px;
}

#text2{
	padding-left: 67px;
	font-weight:  bold;
}
#tim{
	padding-left: 67px;
	padding-top: 0px;
	color: #CDCDCF
}
#bullet1{
	list-style-type: disc;
	list-style-position: inside;
	padding-left: 90px;
}

#ui{
	padding-left: 50px;
 display: grid;
 grid-template-columns: 4fr 4fr;
 padding-bottom: 10px;
 
}

#ui2{
	padding-left: 50px;
 display: grid;
 grid-template-columns: 4fr 4fr;
 padding-bottom: 60px;
}
#progress-bar{
 background: black;
 height: 7px;
 display: inline-grid;
 grid-template-columns: 7.5fr 0.5fr;
 

 padding-right: 70px;
}
#progress{
 background: black;
 height: 7px;
 
 display: inline-grid;
 grid-template-columns: 7.5fr 0.5fr;
 
 
 padding-right: 70px;
}

#progress-bar2{
 background: #CDCDCF;
 height: 7px;
 display: inline-grid;
 grid-template-columns: 7.5fr 0.5fr;

 padding-right: 70px;
}
#progress2{
 background: black;
 height: 7px;
 display: inline-grid;
 grid-template-columns: 7.5fr 0.5fr;
 
 padding-right: 70px;
}

p{
 text-align: justify;
}

#Firstname{
 
 font-weight: bold;
 margin-top: 10px;
 padding-top: 15px;
 padding-left: 20px;
}
#Lastname{
 
 font-weight: bold;
 margin-top: 5px;
 padding-left: 20px;
}
#web{
 
 margin-top: 5px;
 padding-left: 20px;

}
